///////////////
// Home
//////////////

.page {
    position: relative;
    top: 0;
    left: 0;
    .video {
        z-index: 10;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }
    .title {
        z-index: 20;
        background-color: rgba(0,0,0,0);
        position: relative;
        top: 15em;
        h1 {
            font-size: 66px;
            position: relative;
            left: -200px;
            margin: 0px;
            text-shadow: 1px 2px 1px rgba(0,0,0, 0.8);
        }
        h3 {
            margin: 0px;
            font-size: 44px;
            color: gray;
            text-shadow: 1px 2px 1px rgba(0,0,0, 0.8);
        }
        .repo-link {
            position: fixed;
            right: 2%;
            bottom: 2%;
            h4 {
                display: inline;
                text-shadow: 1px 2px 1px rgba(0,0,0, 0.8);
                margin: 0px;
            }
            .icon {
                margin: 0px;
                position: absolute;
                left: 10;
                top: 5;
            }
        }
    }
}

///////////////
// Bio / About
//////////////
.About {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    text-align: right;
    background: linear-gradient(#10171e, #4b6e7f 75%, #10171E 100% );
    padding: 20px;
    text-shadow: 1px 2px 1px rgba(0,0,0, 0.8);
    .heading {
        animation-name: headingEnter;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .content {
        margin: 0px;
        height: 100%;
        z-index: 5;
        .split-container {
            width: 100%;
            height: 75vh;
            .left {
                float: left;
                height: 100%;
                width: 40%;
                text-align: center;
                .photo-container {
                    height: 70%;
                    width: 100%;
                    .photo {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 360px;
                        opacity: 0;
                        animation-name: photoVisible;
                        animation-duration: 2s;
                        animation-delay: 1s;
                        animation-fill-mode: forwards;
                        box-shadow: 0.5px 5px 8px rgba(0,0,0, 0.8);
                    }
                }
                .details {
                    margin-top: 225px;
                    .social {
                        img {
                            max-height: 40px;
                            margin: 10px;
                        }
                    }
                    animation-name: detailsEnter;
                    animation-duration: 2s;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                }
            }
            .right {
                float: right;
                height: 100%;
                width: 60%;
                background-color: #3d4b56;
                border-radius: 4px;
                box-shadow: 2px 1px 4px rgba(0,0,0, 0.8);
                .bio {
                    padding: 20px;
                    animation-name: bioEnter;
                    animation-duration: 1s;
                    animation-delay: 1s;
                    animation-fill-mode: forwards;
                    opacity: 0;
                    text-align: left;
                    font-size: 15pt;
                    h2 {
                        margin-left: 20px;
                    }
                    h3 {
                        text-align: right;
                    }
                    .subtext {
                        color: lightgrey;
                        font-size: 11pt;
                        font-style: italic;
                        text-align: right;
                        
                    }
                    .link {
                        color: lightblue;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.Projects {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    text-align: right;
    background: linear-gradient(#10171e, #4b6e7f 75%, #10171E 100% );
    padding: 20px;
    text-shadow: 1px 2px 1px rgba(0,0,0, 0.8);
    .heading {
        animation-name: headingEnter;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .content {
        text-align: left;
        height: 75vh;
        .project-panel {
            background-color: lightblue;
            color: black;
            height: 400px;
            width: 60%;
            margin: auto;
            margin-top: 8%;
            border-radius: 4px;
            .project {
                padding: 10px;

            }
        }
    }
}

.Services {
    position: relative;
    top: 0;
    left: 0;
    text-align: right;
    margin: 20px;
    svg {
        max-width: 64px;
        max-height: 64px;
    }
}

.Contact {
    position: relative;
    top: 0;
    left: 0;
    text-align: right;
    margin: 20px;
    .heading {
        animation-name: headingEnter;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .content {

    }
}

// On Page Enter
.enter {
    animation-name: viewEnter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: opacity .2s, visibility .2s, margin-top 0s .2s;
}

// On page Exit 
.exit {
    animation-name: viewExit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.video-enter {
    animation-name: videoEnter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.video-exit {
    animation-name: videoExit;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.heading {
    animation-name: headingEnter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

///////////////
// Animations
//////////////

@keyframes viewExit {
    from {
        top: 0px;
    }
    to {
        top: -900px;
    }
}

@keyframes viewEnter {
    from {
        top: -900px;
    }
    to {
        top: 0px;
    }
}

@keyframes videoEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes videoExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes headingEnter {
    from {
        right: -4%;
    }
    to {
        right: 4%;
    }
}


//#region About Animations

@keyframes photoVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes detailsEnter {
    from {
        margin-top: 225px;
        opacity: 0;
    }
    to {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes bioEnter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//#endregion