
.navigation {
    margin: 0px;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    background-color: #304459;
    position: relative;
    top: 0px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    z-index: 400;
    animation-name: navMounted;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.8);
    vertical-align: middle;
    .left {
        margin: 0px;
        float: left;
    }
    .right {
        margin: 0px;
        position: absolute;
        right: 30px;
        top: 12px;
    }
    .link {
        color: #fff;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        .icon {
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 2px;
        }
        &:hover {
            animation-name: linkHover;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
    .brand {
        color: #fff;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        padding: 5px;
        border-radius: 4px;
        font-size: 1.5em;
        text-decoration: none;
        &:hover {
            animation-name: brandHover;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
    a {
        text-decoration: none !important;
    }
}

@keyframes linkHover {
    from {
        background-color: radial-gradient(#fff, #000)
    }
    to {
        background-color: #6a86a3;
    }
}

@keyframes brandHover {
    from {
        color: radial-gradient(#fff, #000)
    }
    to {
        color: #6a86a3;
    }
}

@keyframes navMounted {
    from {
        top: -40px;
    }
    to {
        top: 0px;
    }
}