.App {
  text-align: center;
  background: linear-gradient(#10171e, #4b6e7f 75%, #10171E 100% );
  color: #ffffff;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Exo 2', sans-serif;
  z-index: -100;
}

.home {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: lightblue;
  }
}

@keyframes appTransition {
  from {
    background: linear-gradient(#10171e, #4b6e7f 75%, #10171E 100% );
  }
  to {
    background: linear-gradient(#4b6e7f, #10171E 75%, #4b6e7f 100% );

  }
}